/*Blank CSS*/

.test {
    color: yellow;
}
.no-edit {
    color: black;
    text-decoration: none;
}
.no-edit:hover {
    color: black;
}

.kbw-signature { width: 100%; height: 250px;}
#sig canvas{
    width: 100% !important;
    height: auto;
}
.title-uppercase {
    text-transform: uppercase;
}

.breadcrumb-title {
    font-size: 11px;
}
.breadcrumb-link {
    text-decoration: none;
}

/*-----------------------------------*/
/*------ 1. CUSTOM  ------*/
/*-----------------------------------*/

.btn_trash {
    background-color: transparent;
    border: none;
}

.img--cover {
    aspect-ratio: 3/2 !important;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

    min-height:100% !important;
    min-width:100% !important;
}

.activeLink {
    font-weight: 700 !important;
    font-size: 18px !important;
    color: #ffc107 !important;
}

.pagination .relative {
    background-color: #FF385C !important;
    color: white;
    border-radius: 5px;
    outline-color: #1d293e;
}

input[type=checkbox]{
    accent-color: #FF385C;
    transform: scale(1.55);
}
.sidebar-border{
    border-bottom: 0.5px solid rgba(174, 183, 194, 0.4);
}
.user-profile-box {
    overflow-x: hidden;
    overflow-y: auto;
}
.img-wrapper {
    position: relative;
}
.delete {
    position: absolute;
    top: 0;
    left: 0;
}
.rotate {
    position: absolute;
    top: 0;
    right: 0;
}
.dropzone--custom {
    border: 2px dashed #1ABC9C;
}
.file--button {
    opacity: 0;
}
.overlay {
    z-index: 10;
    width: 300px;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #24324a;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}
.overlay a{
    color: #aeb7c2;
    padding: 1rem;
}
.overlay ul li {
    padding: 0.50rem;
}
.overlay i {
    padding-right: 0.25rem;
}
.btn-close {
    color: #aeb7c2;
    background-color: transparent;
    border: none;
    font-size: 20px;
    /*border: 1px solid #aeb7c2;*/
    margin-right: 2rem;
}
.btn-common {
    background-color: #ff385c;
    color: #ffffff;
}
.text-success {
    color: #1ec38b !important;
}
.text-warning {
    color: #ffc107 !important;
}
.text-info {
    color: #007bff !important;
}
.text-danger {
    color: #dc3545 !important;
}
.text-dark {
    color: #343a40 !important;
}
.btn-dark {
    background-color: #343a40 !important;
}

.special{
    display: flex;
    flex-direction: column;
}

.sidebar ul li {
    width: 100%;
    font-size: 1.25rem;
}

.sidebar a {
    width: 100%;
    font-size: 1.25rem;
}


@media only screen and (max-width: 1024px) {
    .special{
        padding-left: 1rem !important;
    }
    .sidebar a {
        width: 100%;
        font-size: 1.25rem;
        padding-bottom: 0;
        text-decoration: none;
    }
    .sidebar ul li {
        padding-top: 0.55rem;
        padding-bottom: 0.55rem;
    }
}

@media only screen and (min-width: 1024px) {
    .custom-sidebar-padding {
        border-bottom: 0.5px solid rgba(174, 183, 194, 0.4);
        padding-left: 2rem !important;
    }
    .sidebar-border{
        border-bottom: none;
    }
}
